/BANQUITO_RESTFUL_JAVA/target/
/nb-configuration.xml
/TelefQuito/01.SERVIDOR/TELFQUITO_RESTFUL_JAVA/target/
/TelefQuito/02.CLIWEB/TELFQUITO_RESTFUL_JAVA_WEB/nbproject/private/
/TelefQuito/03.CLIWEB/TELFQUITO_RESTFUL_JAVA_WEB/node_modules/
/TelefQuito/03.CLIWEB/TELFQUITO_RESTFUL_JAVA_WEB/nbproject/
