<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/styles.css" />
  <title>CRUD Teléfonos</title>
</head>

<body class="login-body">
  <div class="login-container">
    <div class="login-card">
      <img src="/images/oozma.png" alt="Logo" class="logo" />
      <h2 id="form-title">Insertar un teléfono</h2>
      <form id="telefonoForm">
        <input type="hidden" id="telefonoId" />
        <input type="text" id="nombre" placeholder="Nombre" required />
        <input type="number" id="precio" placeholder="Precio" required step=".01" />
        <input type="text" id="marca" placeholder="Marca" required />
        <select id="disponible" required>
          <option value="" disabled selected>Disponibilidad</option>
          <option value="true">Disponible</option>
          <option value="false">No Disponible</option>
        </select>
        <input type="file" id="imagen" accept="image/*" required />
        <button type="submit" class="btn-primary" id="submitButton">
          Guardar
        </button>
      </form>
    </div>
  </div>
  <div id="modal-container"></div>
  <!-- Container for modal -->
  <script>
    fetch("/modal.html")
      .then((response) => response.text())
      .then((html) => {
        document.getElementById("modal-container").innerHTML = html;
        const modalOkButton = document.getElementById("modal-ok-button");
        if (modalOkButton) {
          modalOkButton.addEventListener("click", closeModal);
        }
      });
  </script>
  <script type="module" src="/controller/modal.js"></script>
  <script type="module" src="/controller/crudTelefonos.js"></script>
  <script type="module" src="/controller/cart.js"></script>
</body>

</html>